@font-face {
  font-family: notoSansRegular;
  src: url('../res/Noto_Sans/NotoSans-Regular.ttf')
}

@font-face {
  font-family: notoSansBold;
  src: url('../res/Noto_Sans/NotoSans-Bold.ttf')
}

* {
  font-family: notoSansRegular;
}

body {
  margin: 0%;
  padding: 0%;
}

h1 {
  margin-top: 30px;
  font-size: 40px;
  font-family: notoSansBold;
  text-align: center;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.grid-container {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); */
  grid-column-gap: 2%;
  grid-row-gap: 2%;
}

.grid-item {
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 3px;
  height: 250px;
  text-align: center;
  transform: scale(100%);
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: scale(101%);
}

.background>img {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
  transition: filter 0.3s ease, background-size 1s ease;
}

.grid-item:hover>.background>img {
  filter: brightness(50%);
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
}

.foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item:hover>.foreground {
  opacity: 1;
}
